.card {
  display: flex;
  box-sizing: border-box;
  flex-direction: column;
  align-content: center;
  width: 200px;
  border: 1px solid #f3f3f3;
  border-radius: 5px;

  &__image {
    margin: 33px 20px;
    margin-bottom: 40px;
  }

  &__title {
    margin: 0 16px;
    margin-bottom: 4px;
    font-weight: 500;
    font-size: 12px;
    line-height: 18px;
    color: $text-color;
  }

  &__code {
    margin: 0 16px;
    font-size: 10px;
    line-height: 14px;
    color: $secondary-color;
  }

  &__reviews {
    height: 16px;
    display: inline-flex;
    align-items: center;
    justify-content: space-between;
    font-size: 10px;
    line-height: 14px;
    color: $text-color;
    margin: 16px;
    margin-bottom: 8px;
    &__count {
      display: block;
    }
  }

  &__button {
    background-color: $button-color;
    color: #fff;
    border: 5px solid transparent;
    border: 1px solid $button-color;
    border-radius: 5px;
    padding: 10px 15px;
    font-size: 14px;
    margin: 16px;
    margin-top: 0;
    cursor: pointer;

    &:hover {
      background-color: #fff;
      color: $button-color;
    }
  }
}
