.price {
  display: inline-flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 16px;

  &__label {
    font-size: 12px;
    line-height: 18px;
    letter-spacing: 0%;
    color: $secondary-color;
  }

  &__value {
    font-size: 16px;
    font-weight: 700;
    line-height: 18px;
    letter-spacing: 0%;
  }
}
